# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
env/
*.env

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# If you use Django migrations cache
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# IDEs / Editors
.vscode/
.idea/
*.swp

# Jupyter / Notebooks
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db

service_account.json
client_secrets.json
